:root {
  --highlight-color: #37ba00;
}
body {
  font-family: sans-serif;
  margin: 1em;
}
header {
  padding-bottom: 0.5em;
}
header h1 {
  display: inline;
  font-size: 1em;
  font-weight: bold;
}
.nav-link.active {
  font-weight: bold;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
#value-time {
  margin: 0;
  padding: 0;
  font-size: 0.8em;
}
#city-list {
  font-family: sans-serif;
  font-size: 0.6em;
}
* { box-sizing: content-box; } /* fix display of city names */
td.city:hover {
  cursor: pointer;
}
td.books {
  text-align: right;
  vertical-align: top;
}
.row {
  margin-left: 5px;
  margin-right: 5px;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}
.column {
  float: left;
  width: 23%;
  padding: 5px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}
div.tooltip {
  padding: 5px;
  font-size: 0.6em;
  border-radius: 5px;
}
#variants {
  font-size: 0.8em;
}
#variants span {
  color: maroon;
}
#variants ul {
  margin-top: 0;
  padding-left: 10px;
}
span.title {
  color: #063970;
}
#timeline-container rect:hover {
  cursor: pointer;
}
#library-list a {
  color: #063970;
  opacity: 0.5;
}
#library-list li {
  list-style: none;
}
#library-list li::before {
  color: maroon;
  content: "▪";
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
header a {
  color: var(--highlight-color);
}
#zoom-icons {
  position: absolute;
}
.details-bars rect:hover {
  fill-opacity: 1.0;
  cursor: pointer;
}
.chart-label {
  font-size: 100%;
}
#chart, #overview  {
  display: block;
  clear: both;
}
